._11QmhkmFbwbDuIFN3Ar9ah {
  border-radius: .5em;
  box-shadow: 0 0 .5em black;
  padding: 1em;
  margin: 2em 0;
  transition: all .3s;
}
._11QmhkmFbwbDuIFN3Ar9ah:hover {
  transform: scale(1.01);
}

._3biWMpj8psaCNETABzWu0p {
  margin: 0;
}
._3biWMpj8psaCNETABzWu0p a {
  color: black;
  text-decoration: none;
}

._3_-KmlAYGoQu7GSCaj8J9Z {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  ._3_-KmlAYGoQu7GSCaj8J9Z {
    flex-direction: column;
  }
  ._3_-KmlAYGoQu7GSCaj8J9Z * {
    margin: .25em 0;
  }
}
.rGxr-WMapGoEWv_oDO3ix{

  display: flex;
  flex-grow: 1;
  justify-content: center;
  box-shadow: 0px 0px 5px 0px rgba(187, 187, 187, 0.75);
  margin-bottom: 10px;
  justify-content: flex-start;
}
.rzHz3PS_utpOaKIXJsL4L{

  display: flex;
  flex-wrap: nowrap;
}
._3AmZMftZcxhP7j13odWIm6{
  padding:10px;
  margin: 10px 20px;
}
._1IaxbjdIVIImu8gJ9jS77S{
  min-width: 250px;
}
._1IaxbjdIVIImu8gJ9jS77S img{
  width: 250px;
}
._1AAM7yrm46X11JmYXYFmti{
  position: fixed;
width: 100%;
height: 100%;
}
._3AzpgLPNgOgCYt9F1sJbiY {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: _1AIIH17jH0V20WdxZFlk1U 1.2s infinite ease-in-out;
  animation: _1AIIH17jH0V20WdxZFlk1U 1.2s infinite ease-in-out;

  position: relative;
  top: 100px;
}

@-webkit-keyframes _1AIIH17jH0V20WdxZFlk1U {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes _1AIIH17jH0V20WdxZFlk1U {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
._3RzUdyxDiYRjzN2t3kHTdZ {
  max-width: 1024px;
  margin: 0 auto;
}


._1P0HXrDvUBQxTDb6e2mbY4 {
  margin: 1em;
}

._2Lyk3nedEQAiMAcZmUHpK9 {
  margin: 1em;
}

._3Y-Xt7nqTEN7yfU9YZW-L6 {
  margin: 1em 0;
}

._3Y-Xt7nqTEN7yfU9YZW-L6 legend {
  font-size: 1.125em;
}

._3Y-Xt7nqTEN7yfU9YZW-L6 input {
  border: none;
  color: black;
  padding: .25em .5em;
}

._3Y-Xt7nqTEN7yfU9YZW-L6 address {
  padding-left: 1em;
}


._1fVW3KbDrop53Ho9xEZVrM {
  opacity: 0;
}
._3hX6pYGqxNbpcOb0qgwj4E {
  opacity: 1;
  transition: opacity 1s;
}
._2nvzDTCl2hI5JNc_KgcbFP {
  opacity: 0;
}
._3RYPqVtsgmn2W7w3IYiPPr {
  opacity: 1;
  transition: opacity 1s;
}
._2EDPtAdvq4Yh84Zkqq_kEc {
  opacity: 1;
}
._2iom7nr0_cUr9bnodMboPW {
  opacity: 0;
  transition: opacity 1s;
}
._3WPHw-EQIKAg90iPBJQQdD{
  background: linear-gradient(90deg,#1c6432 0 ,#273b47 25%,#1e5372);
}
._1WZxWYFLls2fWX6WkPN4Pl {
  color: #fff;
  flex-shrink: 0;
  font-size: 2em;
  font-weight: normal;
  margin: 0;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  padding: .5em 1em;
  width: 100%;
}

._2XIaaXO0sWdJCG6ITDcBqk {
  display: flex;
  padding: 1em;
}

._1SSczhBXMvBYvyLGs2RY_X {
  color: white;
  text-decoration: none;
  transition: all .3s;
  border: 1px solid white;
  border-radius: .25em;
  padding: .25em .5em;
  margin: 0 .5em;
}
._1SSczhBXMvBYvyLGs2RY_X:first-of-type {
  margin-left: 0;
}
._1SSczhBXMvBYvyLGs2RY_X:last-of-type {
  margin-right: 0;
}
._1SSczhBXMvBYvyLGs2RY_X:hover {
  background-color: white;
  color: black;
  transform: scale(1.01);
}
